@charset "UTF-8";

/**
 * Scaffolding
 */

:root {
  --color: #404040;
  --color-muted: #24292f;
  --color-extra-muted: #57606a;

  --color-dark: #ddd;
  --color-muted-dark: #adbac7;
  --color-extra-muted-dark: #768390;

  --color-edit: #a41111;
  --color-edit-dark: #e8a41c;

  --color-new: #0079ff;
  --color-new-dark: #76b3f0;

  --bg: #fff;
  --bg-muted: #dce5ee;
  --bg-extra-muted: #dfdfdf;

  --bg-dark: #2b2b2b;
  --bg-muted-dark: #313842;
  --bg-extra-muted-dark: #464646;

  --bg-item: #eee;
  --bg-item-dark: #333;

  --bg-selection: #9ebfea;
  --bg-selection-dark: #783c42;

  --bg-input-translucent: #ffffffd6;
  --bg-input-translucent-dark: #2b2b2bb2;

  --bg-item-translucent: #eeeeee91;
  --bg-item-translucent-dark: #33333385;

  --border: #aaa;
  --border-dark: #777;

  --border-extra: #d0d7de;
  --border-extra-dark: #444c56;

  --border-cite: #f0f0f0;
  --border-cite-dark: #353535;

  --border-edit: #e8a41c;
  --border-edit-dark: #866728;

  --button-default: #0366ee;
  --button-default-dark: #6c5100;

  --button-default-color: #fff;
  --button-default-color-dark: #dfdfdf;

  --button-hover: #0250bc;
  --button-hover-dark: #5a4500;

  --button-muted-color: #aaa;
  --button-muted-color-dark: #9f9f9f;

  --button-muted-color-hover: #404040;
  --button-muted-color-hover-dark: #ddd;

  --button-color-dimmed: #dcdfe3;
  --button-color-dimmed-dark: #54575b;

  --button-muted-border: #ccc;
  --button-muted-border-dark: #444;

  --button-muted-border-hover: #555;
  --button-muted-border-hover-dark: #888;

  --scrollbar-hover: #777;
  --scrollbar-hover-dark: #999;

  --link-cite-muted-color: #5b92df;
  --link-cite-muted-color-dark: #6ca872;
}

html {
  /*transition: background 0.2s linear;*/
  width: 100%;
  overflow-x: hidden;
  /*font: normal normal normal 1rem/1.3;*/
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica,
    Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--color);
  background-color: var(--bg);
  margin: 0;
  /*font-size: 1rem;*/
}
.dark body {
  background-color: var(--bg-dark);
  color: var(--color-dark);
}

.button,
a.button,
button,
[type="submit"],
[type="reset"],
[type="button"] {
  -webkit-appearance: none;
  display: inline-block;
  border: 1px solid var(--button-default);
  background-color: var(--button-default);
  color: var(--button-default-color);
  border-radius: 4px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica,
    Arial, sans-serif;
  /*font-size: 1rem;*/
  text-transform: none;
  padding: 0.75rem 1.25rem;
  /*margin: 0 0 0.5rem 0;
  margin-right: 0px;*/
  /*vertical-align: middle;*/
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  /*line-height: 1;*/
}

#dark-button {
  width: 69px;
  height: 36px;
  border-radius: 6px;
  position: relative;
  opacity: 0.6;
}

#dark-button:hover {
  opacity: 1;
}

button#dark-button,
button#dark-button:active,
button#dark-button:focus {
  border: 2px solid #626262;
  background-color: initial;
  color: initial;
}

.ball {
  width: 34px;
  height: 34px;
  background-color: #626262;
  position: absolute;
  top: -1px;
  left: 0;
  border-radius: 5px;
  transition: transform 0.2s linear;
}

.dark #dark-button .ball {
  transform: translateX(32px);
}

.light-toggle-icon {
  color: #c40022;
  left: 36px;
  top: 2px;
}

.dark-toggle-icon {
  color: #a4a400;
  left: 4px;
  top: 2px;
}

.light-toggle-icon,
.dark-toggle-icon {
  float: left;
  height: 27px;
  width: 27px;
  position: absolute;
}

button {
  transition: all 0.2s ease;
}

.mr5 {
  margin-right: 5px;
}

.btn:focus-visible {
  outline: 1px solid black;
  outline-offset: 2px;
}

.dark .btn:focus-visible {
  outline-color: var(--bg);
}

.scroll::-webkit-scrollbar {
  width: 6px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: var(--border);
  border-radius: 3px;
}

.dark .scroll::-webkit-scrollbar-thumb {
  background-color: var(--border-dark);
}

.scroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-hover);
}

.dark .scroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-hover-dark);
}

blockquote {
  border-color: var(--border-cite);
}

.dark blockquote {
  border-color: var(--border-cite-dark);
}

.markdown-body > ol > li > div {
  /*width: 93%;*/
  width: 100%;
  float: left;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--bg-item);
  word-wrap: break-word;
}

.dark .markdown-body > ol > li > div {
  color: var(--color-dark);
  background-color: var(--bg-item-dark);
}

.markdown-body > ol > li {
  width: 100%;
  /*padding-bottom: 10px;*/
  padding: 5px;
  transition: background-color 0.3s ease-in-out;
  /*border-bottom: 3px solid #2b2b2b;*/
  background-color: transparent;
  border-radius: 4px;
}

/*.markdown-body > ol > li:hover {
  background-color: #f9bdbd;
}

.dark .markdown-body > ol > li:hover {
  background-color: #662a2a;
}*/

.markdown-body > ol > li > div > :first-child,
.markdown-body > ol > li > div > span > :first-child {
  margin-top: 0;
}

.markdown-body > ol > li > div > :last-child,
.markdown-body > ol > li > div > span > :last-child {
  margin-bottom: 0;
}

.markdown-body > ol > li > div > :last-child :last-child :last-child {
  margin-bottom: 0;
}

.markdown-body > ol > li > div * {
  max-width: 100%;
}

::selection {
  background-color: var(--bg-selection);
}

.dark ::selection {
  background-color: var(--bg-selection-dark);
}

.markdown-body :not(pre) > code {
  border: none;
  padding: 0.2em 0.4em;
  margin: 0;
  white-space: break-spaces;
  background-color: var(--bg-extra-muted);
  border-radius: 6px;
}

.dark .markdown-body :not(pre) > code {
  color: var(--color-dark);
  background-color: var(--bg-extra-muted-dark);
}

.markdown-body blockquote {
  font-size: 1em;
  padding: 0 1em;
  color: var(--color-extra-muted);
  border-left: 0.25em solid var(--border-extra);
}

.dark .markdown-body blockquote {
  color: var(--color-extra-muted-dark);
  border-left: 0.25em solid var(--border-extra-dark);
}

.markdown-body pre {
  padding: 16px;
  overflow: auto;
  /*font-size: 85%;*/
  /*line-height: 1.45;*/
  color: var(--color-muted);
  background-color: var(--bg-muted);
  border-radius: 6px;
}

.dark .markdown-body pre {
  color: var(--color-muted-dark);
  background-color: var(--bg-muted-dark);
}

pre {
  font-family: monospace, monospace;
}

/*(Firefox) if less than 0.06em, instead of three <hr> shows two */
.markdown-body hr {
  height: 0.06em;
  padding: 0;
  margin: 24px 0;
  background-color: var(--border-extra);
  border: 0;
}

.dark .markdown-body hr {
  background-color: var(--border-extra-dark);
}

/* to overset the 'ol li ol' rule in _scaffolding.scss */
ol li ol {
  margin: 0 0 1em 0;
}

p,
ol,
ul,
dl,
table {
  margin: 0 0 1rem 0;
}

.container {
  max-width: 720px;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-left: 0;
}

.flex-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

#content .flex-row {
  margin: 0 auto 0.5em;
  width: 95%;
}

.align-center {
  align-items: center;
}

.muted-button {
  background-color: transparent;
  border: 1px solid var(--button-muted-border-hover);
  color: var(--button-muted-color-hover);
}

.dark .muted-button {
  border: 1px solid var(--button-muted-border-hover-dark);
  color: var(--button-muted-color-hover-dark);
}

.muted-button:hover {
  background-color: transparent;
  border: 1px solid var(--button-muted-border);
  color: var(--button-muted-color);
}

.dark .muted-button:hover {
  border: 1px solid var(--button-muted-border-dark);
  color: var(--button-muted-color-dark);
}

.header-button {
  padding: 0 5px;
}

.between-buttons {
  vertical-align: middle;
}

.no-border {
  border: none !important;
}

.dimmed {
  color: var(--button-muted-color) !important;
}

.dark .dimmed {
  color: var(--button-muted-color-dark) !important;
}

.dimmed:hover {
  color: var(--button-color-dimmed) !important;
}

.dark .dimmed:hover {
  color: var(--button-color-dimmed-dark) !important;
}

.fold:before,
.unfold:after {
  content: "<";
}

.fold:after,
.unfold:before {
  content: ">";
}

h1,
h2,
h3,
h4,
h5,
h6,
.header-button {
  /*margin: 1.5rem 0;*/
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  /*line-height: 1.25;*/
  color: var(--color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark .header-button {
  color: var(--color-dark);
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child) {
  margin: 1.5rem 0;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child) {
  margin-top: 2rem;
}

h1 {
  font-size: 1.75rem;
  /* CAUTION! */
  /*it causes jerks when scrolling!!!!*/
  /*padding-bottom: 0.3em;*/
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.85em;
  color: var(--color-extra-muted);
}

.dark .markdown-body h6 {
  color: var(--color-extra-muted-dark);
}

.markdown-body blockquote a {
  color: var(--link-cite-muted-color);
}

.dark .markdown-body blockquote a {
  color: var(--link-cite-muted-color-dark);
}

.markdown-body > ol.list-items {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  /*flex-wrap: wrap;
  flex-direction: row;*/
  /*max-width don't work in MX Viewer*/
  width: 100%;
}

/*change list order*/
.reversed .markdown-body > ol.list-items {
  flex-direction: column-reverse;
}
.reversed .markdown-body > ol.list-items > li {
  flex: 0 0 auto;
}

.flex-small .header-button {
  display: inline-block;
  margin: 0 0 0 5px;
}

.flex-small .header-button,
#list-order,
.content .flex-row {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.small-container {
  float: left;
  padding: 0;
  max-width: initial;
  width: 100%;
}

.flex-small {
  padding: 0;
  max-width: 720px;
  flex-basis: 100%;
  margin-bottom: 1rem;
}

.text-right {
  text-align: right;
}

.preview-outer {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol.preview-outer li {
  padding-bottom: 0;
  padding-top: 0;
}

#x-button,
#return-last-input {
  position: absolute;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.6;
  z-index: 5;
}

#x-button {
  background-image: url(../img/cross.svg);
  width: 29px;
  height: 29px;
  right: 13px;
  top: 13px;
}

#return-last-input {
  background-image: url(../img/return-3.svg);
  width: 23px;
  height: 23px;
  right: 17px;
  top: 17px;
}

.sort-ascending,
.sort-descending {
  width: 28px;
  fill: #777;
}

.sort-ascending {
  /*background-image: url(../img/sorting-1-2.svg);*/
  opacity: 1;
}

.sort-descending {
  /*background-image: url(../img/sorting-1-2-revert-5.svg);*/
  opacity: 0;
  display: none;
}

.reversed .sort-ascending {
  opacity: 0;
  display: none;
}

.reversed .sort-descending {
  opacity: 1;
  display: inline-block;
}

.reversed #list-order {
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

#list-order {
  border-width: 2px;
  transition: all 0.2s linear;
  padding-bottom: 6px;
  padding-top: 3px;
  padding-left: 4px;
  padding-right: 5px;
  height: auto;
  display: inline-flex;
}

#x-button:hover,
#return-last-input:hover {
  opacity: 1;
}

#item-control {
  margin-left: -85px;
  width: 83px;
  padding: 5px 0;
  background-color: var(--bg-item-translucent);
  /*border: 1px solid red;*/
  /*margin-top: 4px;*/
}

.dark #item-control {
  background-color: var(--bg-item-translucent-dark);
}

button.delete-one-item,
button.edit-item {
  width: 30px;
  height: 30px;
  background-size: auto;
  background-repeat: no-repeat;
  opacity: 0.6;
  background-color: initial;
  border: initial;
  background-position: center center;
  padding: 0;
  margin: 0 5px;
  display: block;
  float: left;
}

button.delete-one-item {
  background-image: url(../img/trash.svg);
}

button.edit-item {
  background-image: url(../img/edit.svg);
  opacity: 0.6;
}

/*ol.list-items > li > div:hover + span#item-control > button*/
/*#item-control:hover > button {
  opacity: 0.6;
}*/

.delete-one-item:hover,
#item-control > button:hover {
  opacity: 1;
}

.filter-red {
  filter: brightness(0.5) sepia(1) hue-rotate(-70deg) saturate(5);
}

.bared {
  padding: initial;
  background-color: initial !important;
  border: initial !important;
}

.bared:hover {
  background-color: initial;
  border: initial;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

.inline-block {
  display: inline-block;
}

.none {
  display: none;
}

#restore-deleted-item {
  padding: 5px;
  border-width: 2px;
}

#restore-deleted-item img {
  width: 22px;
  padding: 0px;
  vertical-align: middle;
  /*filter: brightness(0.5) sepia(0.5) hue-rotate(-70deg) saturate(5);*/
  opacity: 0.6;
  filter: sepia(1) saturate(0);
}

.border-red {
  border-color: rgba(255, 0, 0, 0.363) !important;
}

.border-red:hover {
  border-color: rgba(255, 0, 0, 0.582) !important;
}

.dark a.link,
.dark a {
  color: #abffb4;
}

.container > .flex-row {
  flex-direction: column-reverse;
}

#content #form1 {
  position: relative;
  width: 95%;
  margin: 12px auto 5px;
  padding: 5px;
  border-radius: 4px;
  flex-direction: column;
  transition: background-color 0.3s ease-in-out;
}

textarea {
  resize: none;
  border-radius: 4px;
  padding: 0.75rem;
  outline: none;
  background-color: transparent;
  /*line-height: 1;*/
  font-size: 1rem;
  font-family: inherit;
  width: 100%;
  max-width: 100%;
  overflow: auto;
  height: auto;
}

textarea:focus,
textarea:active {
  box-shadow: none;
}

.dark [type="text"],
.dark textarea {
  color: var(--color-dark);
}

#input-label {
  position: absolute;
  z-index: 11;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  transition: opacity 0.2s ease;
  margin-top: 1px;
  background-color: var(--bg-input-translucent);
}

.dark #input-label {
  background-color: var(--bg-input-translucent-dark);
}

#input-label > span {
  padding: 0 4px;
  height: 18px;
  display: inline-block;
}

#input-label > div {
  border-radius: 3px;
  padding: 0 4px;
  color: var(--color-extra-muted);
}

.dark #input-label > div {
  color: var(--color-muted-dark);
}

#input-label:hover {
  opacity: 0;
}

.border {
  border: 1px solid var(--border);
}

.dark .border {
  border: 1px solid var(--border-dark);
}

.border-edit {
  border: 1px solid var(--border-edit);
}

.dark .border-edit {
  border: 1px solid var(--border-edit-dark);
}

.bg {
  background-color: var(--bg);
}

.dark .bg {
  background-color: var(--bg-dark);
}

#input-label span {
  color: var(--color-edit);
}

.dark #input-label span {
  color: var(--color-edit-dark);
}

#input-label span:first-child {
  border-radius: 0 0 0 3px;
}

#input-label span:last-child {
  border-radius: 0 3px 3px 0;
}

#preview {
  scroll-behavior: smooth;
}

#preview,
#position {
  width: 100%;
  max-height: 160px;
  overflow-x: auto;
  margin-top: 10px;
}

#position {
  max-height: 120px;
}

#preview:empty,
#position:empty {
  padding: 0;
  margin: 0;
  border: 0;
}

#input {
  z-index: 2;
  scroll-behavior: smooth;
  margin: 0;
}

#output,
#position {
  position: absolute;
  /*border-color: red;*/
  z-index: -1;
  resize: none;
  overflow: auto;
  height: auto;
}

#output {
  border: 1px solid transparent;
  position: relative;
  /*top: 10px;*/
  width: 100%;
  /*display: inline-block;*/
  padding: 0.75em;
  height: 186px;
  /*display: block;*/
  border-radius: 4px;
  margin: 0;
  margin-top: -186px;
}

#output {
  /*width: 100%;*/
  /*position: relative;
  margin-top: -196px;*/
}

#position {
  width: 678px;
  /*width: 100%;
  position: relative;
  margin-top: -160px;*/
}

/*#input,
#preview {
  opacity: 0.5;
}*/

/*#position * {
  color: red;
}*/

#output,
#position {
  opacity: 0;
  /*color: red;*/
  visibility: hidden;
}

#output,
#position,
#preview {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

code {
  white-space: break-spaces;
}

#second-header {
  width: 200px;
  /*line-height: inherit;*/
}

@media (min-width: 600px) {
  .flex-small {
    flex: 0 1 auto;
    /*flex: auto;*/
    margin-bottom: 0;
  }
  .header-button {
    font-size: 2rem;
  }
}

@media (min-width: 1320px) {
  .container {
    max-width: initial;
  }
  .container > .flex-row {
    flex-direction: row;
  }
  #preview {
    max-height: 328px;
  }
  #position {
    position: relative;
    width: 684px;
    max-height: 288px;
    margin-top: -328px;
  }
  .container > .flex-row > .flex-small:first-child {
    padding-right: 10px;
  }
  .container > .flex-row > .flex-small:last-child {
    padding-left: 10px;
  }
  .container > .flex-row > .flex-small {
    width: 50%;
  }
}
